<!DOCTYPE HTML>
<html>
    <head>
        <title>Serious BUS-iness</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/jquery.mobile-1.4.0.min.css" rel="stylesheet" type="text/css" media="all" />

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="js/jquery.mobile-1.4.0.min.js"></script>
        <script type="text/javascript" src="js/sb.js"></script>

    </head>
    <body>
        <!---start-wrap---->
        <div id="page-wrap" class="wrap" data-role="page">

        <!---start-header---->
        <div id="page">
            <div id="header">
                <a class="navicon" href="#leftpanel"> </a>
                <div class="logo"><img src="images/logo.png" alt="" /></div>
        </div>

        {{> menu}}
        <!---//End-header---->

        <!---start-slider (Main content)---->
        <div class="slider">

        <div data-role="header" style="overflow:hidden;">
        <a href="#" data-icon="back" data-rel="back">Back</a>
        <h1>Confirm Reservation</h1>
        </div><!-- /header -->
        <br>

        <div class="contentwrap"><!---Start content-wrap---->

        <!--- Place content HERE ---->

        <ul data-role="listview" data-inset="true">
            <li><h3>Shuttle:</h3><p>{{line}}</p></li>
            <li><h3>Time:</h3><p>{{time}}</p></li>
            <li><h3>From:</h3><p>{{beginstop}}</p></li>
            <li><h3>To:</h3><p>{{endstop}}</p></li>

            <li><a href="/addresv?newresv=true&sid={{lineid}}&beginstop={{beginstopid}}&endstop={{endstopid}}&schid={{schid}}" rel="external" class="ui-icon-carat-r ui-btn-icon-right ui-btn ui-corner-all ui-shadow ui-btn-b">CONFIRM</a></li>
        </ul>

        </div><!---End content-wrap---->


        <div data-role="footer" style="overflow:hidden;">
        <h1>Copyright 2014 SeriousBusiness</h1>
        </div><!-- /header -->
        <br>

        </div><!---//End-slider---->

        </div><!---//End-wrap---->

        <!-- Google Analytics -->
        {{> ga}}
        
    </body>
</html>
