<!DOCTYPE HTML>
<html>
    <head>
        {{> commonhead}}

    </head>
    <body>
        <!---start-wrap---->
        <div id="page-wrap" class="wrap" data-role="page">

        {{> logoheader}}
        {{> menu}}

        <!---start-slider (Main content)---->
        <div class="slider">

        <div data-role="header" style="overflow:hidden;">
        <a href="#" data-icon="back" data-rel="back">Back</a>
        <h1>Confirm Reservation</h1>
        </div><!-- /header -->
        <br>

        <div class="contentwrap"><!---Start content-wrap---->

        <!--- Place content HERE ---->

        <ul data-role="listview" data-inset="true">
            <li><h3>Shuttle:</h3><p>{{line}}</p></li>
            <li><h3>Time:</h3><p>{{time}}</p></li>
            <li><h3>From:</h3><p>{{beginstop}}</p></li>
            <li><h3>To:</h3><p>{{endstop}}</p></li>

            <li><a href="/addresv?newresv=true&sid={{lineid}}&beginstop={{beginstopid}}&endstop={{endstopid}}&schid={{schid}}" rel="external" class="ui-icon-carat-r ui-btn-icon-right ui-btn ui-corner-all ui-shadow ui-btn-g">CONFIRM</a></li>
        </ul>

        </div><!---End content-wrap---->

        {{> footer}}

        </div><!---//End-slider---->

        </div><!---//End-wrap---->

        <!-- Google Analytics -->
        {{> ga}}

    </body>
</html>
