<!DOCTYPE HTML>
<html>
    <head>
        <title>Serious BUS-iness</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/jquery.mobile-1.4.0.min.css" rel="stylesheet" type="text/css" media="all" />

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="js/jquery.mobile-1.4.0.min.js"></script>
        <script type="text/javascript" src="js/sb.js"></script>

    </head>
    <body>
        <!---start-wrap---->
        <div id="page-wrap" class="wrap" data-role="page">

        <!---start-header---->
        <div id="page">
            <div id="header">
                <a class="navicon" href="#leftpanel"> </a>
                <div class="logo">
                <a href="/"><img src="images/logo.png" alt="" /></a>

            </div>
        </div>

        <div data-role="panel" id="leftpanel" data-position="left" data-display="overlay" data-theme="b">
            <ul data-role="listview">
                <li data-icon="back"><a href="#" data-rel="close">Close</a></li>
                <li>
                    <a href="/main" rel="external">
                        <img src="images/home-icon.png" alt="" class="ui-li-icon ui-corner-none" />
                        Home</a>
                </li>
                <li>
                    <a href="/newresv" rel="external">
                        <img src="images/blog.png" alt="" class="ui-li-icon ui-corner-none" />
                        Make a new reservation</a>
                </li>
                <li>
                    <a href="/liveview" rel="external">
                        <img src="images/icon.png" alt="" class="ui-li-icon ui-corner-none" />
                        Live Bus Information</a>
                </li>
                <li>
                    <a href="/process_login?logout=true" rel="external">
                        <img src="images/return.png" alt="" class="ui-li-icon ui-corner-none" />
                        Log-out</a>
                </li>
            </ul>
                    
        </div>
        <!---//End-header---->

        <!---start-slider (Main content)---->
        <div class="slider">

        <div data-role="header" style="overflow:hidden;">
        <a href="#" data-icon="back" data-rel="back">Back</a>
        <h1>Select Bus Stop</h1>
        </div><!-- /header -->

        <div class="contentwrap"><!---Start content-wrap---->

        <!--- Place content HERE ---->

		{{#if line}}
        <p style=""><h3>Pick your destination:</h3></p>
        <div class="btn-group">
        {{#each busstops}}
        <a href="javascript: window.location = encodeURI(window.location.href+'&endstop={{name}}');" rel="external" class="ui-icon-carat-r ui-btn-icon-right ui-btn ui-corner-all ui-shadow ui-btn-b">{{name}}</a>
        {{/each}}
        </div>
        {{else}}

        
        <p style=""><h3>Pick a shuttle below:</h3></p>
        <div class="btn-group">
        {{#each shuttlelines}}
        <a href="?line={{id}}" rel="external" class="ui-icon-carat-r ui-btn-icon-right ui-btn ui-corner-all ui-shadow ui-btn-b">{{name}}</a>
        {{/each}}
        </div>

        {{/if}}

        </div><!---End content-wrap---->

        <div data-role="footer" style="overflow:hidden;">
        <h1>Copyright 2014 SeriousBusiness</h1>
        </div><!-- /header -->
        <br>

        </div><!---//End-slider---->

        </div><!---//End-wrap---->

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script type="text/javascript" src="/js/bootstrap.js"></script>
    </body>
</html>
