<li data-role="list-divider">{{dividerTitle}}</li>
{{#each result}}
<li>
<a href="javascript: {{../func}}('{{_id}}', '{{name}}', {{plusmins}});">
{{name}}
{{#if nearest}}
<span class="btn-green ui-li-count">Nearest</span>
{{/if}}
</a>
<a href="javascript: showDetails('{{_id}}', '{{../popupId}}');">Show Details</a>
</li>
{{/each}}