{{#if shownearest}}
<li data-role="list-divider">Nearby Stops</li>
<li><a href="javascript: {{../func}}('{{nearest._id}}', '{{nearest.name}}', {{nearest.plusmins}});">{{nearest.name}}</a></li>
{{/if}}
<li data-role="list-divider">{{fromto}}</li>
{{#each result}}
<li><a href="javascript: {{../func}}('{{_id}}', '{{name}}', {{plusmins}});">{{name}}</a></li>
{{/each}}