<!DOCTYPE HTML>
<html>
    <head>
        {{> commonhead}}

        <script type="text/javascript" src="js/viewresv.js"></script>

    </head>
    <body>
        <!---start-wrap---->
        <div id="page-wrap" class="wrap" data-role="page">

        {{> logoheader}}
        {{> menu}}

        <!---start-slider (Main content)---->
        <div class="slider">

        <div data-role="header" style="overflow:hidden;">
        <h1>Reservations</h1>
        </div><!-- /header -->
        <br>

        <div class="contentwrap"><!---Start content-wrap---->

        <div data-role="popup" id="deleteDialog" data-overlay-theme="b" data-theme="d" data-dismissible="false" style="max-width:400px;">
            <div data-role="header" data-theme="d">
                <h1>Cancel Reservation?</h1>
            </div>
            <div role="main" class="ui-content">
                <h3 class="ui-title">Are you sure you want to cancel this reservation?</h3>
                <p id="delInfo"></p>
                <hr>
                <a id="deleteButton" href="#" rel="external" class="ui-icon-delete ui-btn-icon-left ui-btn ui-corner-all ui-shadow ui-btn-d" data-ajax="false">Cancel Reservation</a>
                <a href="#" class="ui-icon-carat-l ui-btn-icon-left ui-btn ui-corner-all ui-shadow ui-btn-a" data-rel="back" data-transition="flow">Back</a>
            </div>
        </div>

        <!--- Place content HERE ---->

        {{#if showreserv}}
        
        <ul data-role="listview" data-inset="true" data-icon="delete" data-theme="c" data-divider-theme="d">
            <li data-role="list-divider">TODAY - Friday, February 14, 2014 <span class="btn-green ui-li-count">{{myreserv.length}}</span></li>

            {{#each myreserv}}
            <li>
                <a href="javascript: showDeleteDialog('{{id}}', '{{sid.name}}', '{{beginstop.name}}', '{{endstop.name}}', '{{time}}');">
                <h3>{{beginstop.name}}</h3>
                <p>TO: {{endstop.name}}</p>
                <p class="ui-li-aside"><strong>{{time}}</strong><br/>Route: {{sid.shortname}}</p>
                </a>
            </li>
            {{/each}}
        </ul>

        <div class="alert alert-warning"><a class="ui-btn ui-btn-g ui-corner-all" href="/newresv">Make another reservation</button>
        </div>

        {{else}}

        {{#if showOverlay}}
        <div id="floating" class="overlay" align="left">
        <img src="images/bg_start.png" style="floating: left"/>
        </div>
        {{/if}}

        <div class="alert alert-warning">You do not have any reservations yet. <br>
        	<a class="ui-btn ui-btn-g ui-corner-all" href="/newresv">Click to make reservation now!</button>
        </div>

        {{/if}}

        </div><!---End content-wrap---->

        {{#if deleted}}
        <!-- Show "Reservation Cancelled" message. -->
        <script type="text/javascript" src="js/toast.js"></script>
        <script type="text/javascript">
            $( document ).on( "pagecreate", "#page-wrap", function() {
                toast('Reservation cancelled.', 'ui-body-g');
            });
        </script>
        {{/if}}

        {{> footer}}

        </div><!---//End-slider---->

        </div><!---//End-wrap---->

        <!-- Google Analytics -->
        {{> ga}}
        
    </body>
</html>
