<!DOCTYPE HTML>
<html>
    <head>
        <title>Serious BUS-iness</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/jquery.mobile-1.4.0.min.css" rel="stylesheet" type="text/css" media="all" />

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="js/jquery.mobile-1.4.0.min.js"></script>
        <script type="text/javascript" src="js/sb.js"></script>

    </head>
    <body>
        <!---start-wrap---->
        <div id="page-wrap" class="wrap" data-role="page">

        <!---start-header---->
        <div id="page">
            <div id="header">
                <a class="navicon" href="#leftpanel"> </a>
                <div class="logo">
                <a href="/"><img src="images/logo.png" alt="" /></a>

            </div>
        </div>

        {{> menu}}
        <!---//End-header---->

        <!---start-slider (Main content)---->
        <div class="slider">

        <div data-role="header" style="overflow:hidden;">
        <a href="#" data-icon="back" data-rel="back">Back</a>
        <h1>Make Reservation</h1>
        </div><!-- /header -->

        <div class="contentwrap"><!---Start content-wrap---->

        <!--- Place content HERE ---->
        
        <p style=""><h3>Pick a time below:</h3></p>

        <ul data-role="listview" data-inset="true" data-split-icon="right" data-theme="b" data-count-theme="a">

            {{#each result}}
            <li>
                <a href="/confirmresv?line={{../line}}&beginstop={{../beginstop}}&endstop={{../endstop}}&schid={{id}}">
                <h3>{{time}}</h3><span class="ui-li-count">Seats Left: {{seatsleft}}</span>
                </a>
            </li>
            {{/each}}
        </ul>

        </div><!---End content-wrap---->

        <div data-role="footer" style="overflow:hidden;">
        <h1>Copyright 2014 SeriousBusiness</h1>
        </div><!-- /header -->
        <br>

        </div><!---//End-slider---->

        </div><!---//End-wrap---->
        
    </body>
</html>
