<!DOCTYPE HTML>
<html>
    <head>
        <title>Serious BUS-iness</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/jquery.mobile-1.4.0.min.css" rel="stylesheet" type="text/css" media="all" />

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="js/jquery.mobile-1.4.0.min.js"></script>
        <script type="text/javascript" src="js/sb.js"></script>

    </head>
    <body>
        <!---start-wrap---->
        <div id="page-wrap" class="wrap" data-role="page">

        <!---start-header---->
        <div id="page">
            <div id="header">
                <a class="navicon" href="#leftpanel"> </a>
                <div class="logo"><img src="images/logo.png" alt="" /></div>
        </div>


        <!---//End-header---->

        <!---start-slider (Main content)---->
        <div class="slider">

        <div data-role="header" style="overflow:visible;">
        <a href="/liveview" data-icon="back">Back</a>
        <h1 style="overflow:visible;">Live View<br>{{result.name}}</h1>
        </div><!-- /header -->
        <br>

        {{> menu}}

        <div class="contentwrap"><!---Start content-wrap---->

        <!--- Place content HERE ---->

        <ul data-role="listview" data-inset="true">
	        <li><p><img src="{{result.imageurl}}" style="max-width: 100%;" alt="" /></p></li>
	        <li><h3>Current # in line: {{result.inline}}</h3></li>
	        <li><h3>Next bus at: {{#if nextBus}}{{nextBus}}{{else}}Unknown{{/if}}</h3></li>
	        <li><h3>{{#if mindiff}}Estimated waiting time: {{mindiff}} minutes{{else}}Unknown{{/if}}</h3></li>
        </ul>
        </div><!---End content-wrap---->

        <div data-role="footer" style="overflow:hidden;">
        <h1>Copyright 2014 SeriousBusiness</h1>
        </div><!-- /footer -->
        <br>

        </div><!---//End-slider---->

        </div><!---//End-wrap---->

        <!-- Google Analytics -->
        {{> ga}}
        
    </body>
</html>
