{{#if hasdata}}
{{#each result}}
<li>
    <a href="/confirmresv?rid={{../rid}}&from={{../from}}&to={{../to}}&schid={{id}}">
    <h3>{{time}}</h3><span class="{{color}} ui-li-count">Seats Left: {{seatsleft}}</span>
    </a>
</li>
{{/each}}
{{else}}
<li data-theme="d" style="white-space: normal;">
    Sorry. There isn't any bus in the time range or route that you have selected.<br><br>Please try with other selections.
</li>
{{/if}}