{{#if nolocation}}
<li data-role="list-divider" data-theme="c">Current location not available</li>
{{/if}}
<li data-role="list-divider">{{dividerTitle}}</li>
{{#each result}}
<li>
<a href="javascript: {{../func}}('{{_id}}', '{{name}}', {{plusmins}}, '{{../popupId}}');">
{{name}}
{{#if nearest}}
<span class="btn-green ui-li-count">Nearest</span>
{{/if}}
</a>
<a href="javascript: showDetails('{{_id}}', '{{../popupId}}', 'cam', '{{../func}}');" style="min-width:50px;">Show Details</a>
</li>
{{/each}}